<div [hidden]="!isLoading" style="width: 100vw;
    height: 100vh;
    background-color: #00000047;
    display: block;
    position: fixed;
    z-index: 999999;
    text-align: center;
    padding: 48vh 0 0 48vw;">
    <div class="spinner-border" style="width: 3rem;
        height: 3rem;
        display: block;
        z-index: 999999;" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<nav class="navbar navbar-expand-md navbar-light bg-default text-white shadow-sm fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand pl-5" href="#">
            <img src="assets/img/logo-white.png" alt="foto" width="90" height="auto">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="'Toggle navigation'">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-block d-sm-none">
            </div>
            <!-- Right Side Of Navbar -->
            <b class="d-flex text-capitalize" *ngIf="sucursalName">
                | {{sucursalName}}
            </b>
            <ul class="navbar-nav ms-auto">
                <!-- Authentication Links -->
                <li class="nav-item dropdown">
                    <a id="navbarDropdown" class="nav-link dropdown-toggle" href="#" role="button"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" v-pre>
                        <i class="bi bi-person"></i>
                        {{user.name}}
                    </a>

                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <button type="button" class="dropdown-item" (click)="logout()">
                            Salir
                        </button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="d-none d-sm-block">
    <div
        class="d-flex flex-column flex-shrink-0 bg-danger float-start shadow-lg min-vh-100 d-inline-block content-left fixed-top">
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a [routerLink]="['/clientes']" [routerLinkActive]="router.url=='/clientes'?'active':''" class="nav-link p-3 link-light" aria-current="false">
                    <i class="bi bi-people"></i>
                    Clientes
                </a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/productos']" [routerLinkActive]="router.url=='/productos'?'active':''" class="nav-link p-3 link-light" aria-current="false">
                    <i class="bi bi-cart2"></i>
                    Productos
                </a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/ventas']" [routerLinkActive]="router.url=='/ventas'?'active':''" class="nav-link p-3 link-light" aria-current="false">
                    <i class="bi bi-shop"></i>
                    Mis ventas
                </a>
            </li>

            <!-- <li class="nav-item dropdown">
                <a class="nav-link link-light p-3 dropdown-toggle" href="#" id="navbarDropdown" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-file-bar-graph me-2"></i>
                    Reportes
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li>
                        <a href="#" class="nav-link p-3 link-light" aria-current="false">
                            Ventas
                        </a>
                    </li>
                </ul>
            </li> -->
        </ul>

        <hr>
        <div class="dropdown">
            <a href="#" class="d-flex align-items-center link-light text-decoration-none dropdown-toggle"
                id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-person ms-3 me-3"></i>
                <!-- <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2"> -->
                <strong>Usuario</strong>
            </a>
            <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                <li><a class="dropdown-item" href="#">Perfil</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li>
                    <button type="button" class="dropdown-item" (click)="logout()">
                        Salir
                    </button>
                </li>
            </ul>
        </div>

    </div>
</div>
<main class="container content-right float-end">
    <div class="container-luid pt-3 bg-white">
        <h3 class="text-uppercase">
            {{title.getTitle()}}
        </h3>
        <breadcrumb #parent>
            <ol class="breadcrumb">
                <ng-template ngFor let-route [ngForOf]="parent.breadcrumbs">
                    <li *ngIf="route.displayName == 'inicio' && !route.terminal" class="breadcrumb-item">
                        Home
                    </li>
                    <li *ngIf="route.terminal" class="breadcrumb-item">
                        <a href="" [routerLink]="['/']">Home</a>
                    </li>
                </ng-template>
                <ng-template ngFor let-route [ngForOf]="parent.breadcrumbs">
                    <li *ngIf="!route.terminal" class="breadcrumb-item">
                        <a href="" [routerLink]="[route.url]">{{ route.displayName }}</a>
                    </li>
                    <li *ngIf="route.terminal" class="breadcrumb-item active" aria-current="page">
                        {{ route.displayName }}
                    </li>
                </ng-template>
            </ol>
        </breadcrumb>

        <router-outlet></router-outlet>
    </div>
</main>