
<div style="position: absolute; top: 80px; right: 100px;">
    <label for="categoria">Restaurante</label>
    <select class="form-select" name="punto_venta_id" [(ngModel)]="puntoVentaId">
        <option value="1" selected> Fit Food </option>
        <option value="2"> Mama Vicenta </option>
    </select>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
        <form [formGroup]="formSearch" (ngSubmit)="search()" novalidate="">
            <div class="row mb-3">
                <div class="col-xs-7 col-sm-7 col-md-7">
                    <div class="form-group mb-1">
                        <label for="codigo_barra">
                            Nombre de producto 
                            <span class="text-danger">*</span>
                        </label>
                        <div class="input-group">
                            <input type="text" id="codigo_barra" formControlName="nombre" class="form-control"
                                placeholder="Nombre producto" aria-label="Buscar" aria-describedby="button-codebar" autofocus autocomplete="false">
                        </div>
                    </div>
                </div>
                <div class="col-xs-5 col-sm-5 col-md-5">
                    <label for="categoria">Categoria</label>
                    <select class="form-select" name="categoria_producto_id" formControlName="categoria_producto_id" (change)="search()">
                        <option *ngFor="let item of categorias" value="{{item.id}}"> {{item.nombre}} </option>
                    </select>
                </div>
            <!-- <div class="col-xs-12 col-sm-12 col-md-2">
                <div class="form-group mb-3">
                    <label for="producto">
                        Cantidad
                        <span class="text-danger">*</span>
                    </label>
                    <input type="number" min="1" step="1" [(ngModel)]="inputCantidad" class="form-control" placeholder="Cantidad">
                </div>
            </div> -->
            </div>
        </form>

        <div class="mb-5">
            <div class="row">                
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3" *ngFor="let item of productos">
                    <div class="card" (click)="selectProducto(item)">
                        <img *ngIf="item.foto" src="{{item.foto}}" class="card-img-top" alt="foto">
                        <img *ngIf="!item.foto" src="./assets/img/no-image.svg" class="card-img-top" alt="foto">
                        <div class="card-body p-1 text-center" (click)="agregar()">
                            <b>
                                {{item.nombre}}
                            </b> <br>
                            <small>
                                <b>
                                    {{item.precio}}
                                </b>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="productos.length > numerToShow" class="d-flex justify-content-between p-2">
                <select class="form-select" style="width: auto" [(ngModel)]="pagination.pageSize" (ngModelChange)="search()">
                    <option *ngFor="let item of pagination.sizeOptions" [ngValue]="item">{{item}}</option>
                </select>
                <small class="p-3">{{pagination.totalCount}} </small>
                <div class="table-responsive">
                    <ngb-pagination [collectionSize]="pagination.totalCount" [(page)]="pagination.page"
                        [pageSize]="pagination.pageSize" (pageChange)="search()">
                    </ngb-pagination>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <div class="border p-3 mb-5 bg-body rounded">
            <h5>Detalle</h5>
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let item of detalleVenta">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                            <img *ngIf="item.producto.foto" src="{{item.producto.foto_thumbnail}}" alt="foto"
                                width="100%">
                            <img *ngIf="!item.producto.foto" src="./assets/img/no-image.svg" alt="foto" width="100%">
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-9">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                    {{item.nombre_producto}} <br>
                                    <b>
                                        {{item.precio}} Bs.
                                    </b>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
                                    <h4>{{item.cantidad}}</h4>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1 col-xl-1 text-end">
                                    <button type="button" class="btn btn-danger" (click)="remove(item.id!)">
                                        <i class="bi bi-trash"></i>
                                    </button>
                                </div>
                            </div>
                            <small>
                                <ul>
                                    <li *ngFor="let detItem of item.aditamentos_venta">
                                        {{detItem.numero_producto}}.- {{detItem.mi_aditamento.mi_aditamento.nombre}}
                                    </li>
                                </ul>
                            </small>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
        <div class="shadow p-3 mb-5 bg-body rounded">
            <div class="form-group mb-3">
                <label for="cliente">
                    Cliente
                    <span class="text-danger">*</span>
                </label>
                <!-- <div class="input-group">
                    <button class="btn btn-outline-secondary" disabled (click)="searchCliente()" type="button">
                        <i class="bi bi-people"></i>
                    </button>
                    <input type="hidden" [(ngModel)]="cliente.id">
                    <input type="text" style="cursor: pointer;" [(ngModel)]="cliente.nombre_razon_social"
                        (click)="searchCliente()" readonly class="form-control" placeholder="Buscar ..." aria-label="Buscar"
                        aria-describedby="button-cliente-select">
                    <button class="btn btn-outline-secondary" (click)="searchCliente()" type="submit"
                        id="button-cliente-select">
                        <i class="bi bi-hand-index" *ngIf="!cliente.id"></i>
                        <i class="bi bi-check" *ngIf="cliente.id"></i>
                    </button>
                </div> -->
            </div>
    
            <div class="form-group mb-3">
                <label for="fieldObservacion">Observacion</label>
                <textarea [(ngModel)]="fieldObservacion" id="fieldObservacion" class="form-control" cols="5" rows="1"></textarea>
            </div>
            
            <div class="card mb-3">
                <div class="card-body">
                    <div class="mb-3 card-title text-center">
                        <h4>Total: {{totalDetalleVenta()}} Bs</h4>
                    </div>
                    <div class="mb-3">
                        <label>Efectivo</label>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Efectivo" [(ngModel)]="inputEfectivo" (keyup)="calcCambio()" [disabled]="totalDetalleVenta() == 0" title="Efectivo">
                            <button class="btn btn-outline-secondary" disabled title="Cambio"> Bs. </button>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label>Cambio</label>
                        <div class="input-group">
                            <input type="text" class="form-control bg-dark text-white" placeholder="Cambio" [(ngModel)]="inputCambio" disabled title="Cambio">
                            <button class="btn btn-outline-secondary" disabled title="Cambio"> Bs. </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-2">
                <div class="input-group">
                    <button class="btn btn-outline-secondary" disabled title="Efectivo">
                        <i class="bi bi-calendar"></i>
                    </button>
                    <input type="date" class="form-control" placeholder="Efectivo" [(ngModel)]="inputFecha" title="Fecha">
                </div>
            </div>
            <div class="mb-3">
                <div class="d-grid gap-2">
                    <button class="btn btn-lg btn-success" (click)="registrarVenta()" [disabled]="submitted">
                        <i class="bi bi-plus"></i>
                        Registrar venta
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
