<div class="row mb-3">
    <div class="col-xs-12 col-sm-12 col-md-6">
        <span class="badge bg-success" *ngIf="venta.estado == 2">Vendido</span>
        <span class="badge bg-danger" *ngIf="venta.estado == 3">Cancelado</span>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 text-end">
        <button class="btn btn-outline-primary" (click)="printRecibo()">
            <i class="bi bi-printer"></i>
            Imprimir
        </button>
    </div>
</div>
<div class="table-responsive" style="width:80mm">
    <div class="text-center">
        <!-- <img src="/assets/img/logo.png" alt="" width="160"> -->
        <h3>COMANDA</h3>
        <div class="text-center  align-middle">
            Nro: {{venta.id}} <br>
            Fecha: {{venta.fecha}} <br>
            Hora: {{venta.hora}} <br>
            Sucursal: {{sucursalName}} <br>
        </div>
    </div>
    <table class="table table-sm table-bordered">
        <thead class="thead-light">
            <tr>
                <th>Descripcion</th>
                <th>Precio</th>
                <th>Cant.</th>
                <th>Subtotal</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let item of venta.detalleVenta let i=index">
                <tr>
                    <td>{{item.nombre_producto}}</td>
                    <td>{{item.precio}} Bs.</td>
                    <td>{{item.precio_x_gr? item.gramos+' gr.': item.cantidad}}</td>
                    <td>
                        <b>
                            {{item.sub_total}} Bs.
                        </b>
                    </td>
                </tr>
                <tr *ngIf="item.aditamentos_venta.length > 0">
                    <td colspan="4">
                        <small>
                            <ul>
                                <li *ngFor="let detItem of item.aditamentos_venta">
                                    {{detItem.mi_aditamento.mi_aditamento.nombre}}
                                </li>
                            </ul>
                        </small>
                    </td>
                </tr>
            </ng-container>
            <tr *ngIf="venta.detalleVenta.length == 0">
                <td colspan="4" class="text-center">
                    No hay registros
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4" class="text-end">
                    <h4>Total
                        {{venta.total}} Bs.</h4>
                </td>
            </tr>
        </tfoot>
    </table>
</div>


<style>
    .full-width{
        width: 100% !important;
    }
    .text-center{
        text-align: center !important;
    }
    .text-end{
        text-align: right !important;
    }
    .text-left{
        text-align: left !important;
    }
    table>tbody>tr>td{
        padding: 10px;
        margin: 0;
    }
    .letter-content{
        width: 216mm;    
        height: 279mm;
        padding: 20px 20px 20px 75px;
    }

    /* style sheet for "A4" printing */
    @media print {
        body {
            width: 80mm; /*width of index card*/
        }
        td, th, h3, div {
          font-size: 20px;  
          font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
        td, th{
            border:0.2px solid rgb(168, 168, 168);
        }
  /* etc */
    }
</style>
<div class="table-responsive letter-content d-none d-print-block" #recibo id="recibo">
    <div class="text-center">
        <!-- <img src="/assets/img/logo.png" alt="" width="160"> -->
        <h3>COMANDA</h3>
        <div class="text-center  align-middle">
            Nro: {{venta.id}} <br>
            Fecha: {{venta.fecha}} <br>
            Hora: {{venta.hora}} <br>
            Sucursal: {{sucursalName}} <br>
        </div>
    </div>
    <table class="table table-sm table-bordered">
        <thead class="thead-light">
            <tr>
                <th>Descripcion</th>
                <th>Precio</th>
                <th>Cant.</th>
                <th>Subtotal</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let item of venta.detalleVenta let i=index">
                <tr>
                    <td>{{item.nombre_producto}}</td>
                    <td>{{item.precio}} Bs.</td>
                    <td>{{item.precio_x_gr? item.gramos+' gr.': item.cantidad}}</td>
                    <td>
                        <b>
                            {{item.sub_total}} Bs.
                        </b>
                    </td>
                </tr>
                <tr *ngIf="item.aditamentos_venta.length > 0">
                    <td colspan="4">
                        <small>
                            <ul>
                                <li *ngFor="let detItem of item.aditamentos_venta">
                                    {{detItem.mi_aditamento.mi_aditamento.nombre}}
                                </li>
                            </ul>
                        </small>
                    </td>
                </tr>
            </ng-container>
            
            <tr *ngIf="venta.detalleVenta.length == 0">
                <td colspan="4" class="text-center">
                    No hay registros
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4" class="text-end">
                    <h4>Total 
                    {{venta.total}} Bs.</h4>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
